* {
    margin: 0;
    border: 0;
    padding: 0;
}
.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    background-color: #d8dbe2;
}
