@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: content-box;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    background-color: #d8dbe2;
    font-family: "Lato", sans-serif;
}

/* Post */
.post {
    width: 500px;
    height: 400px;
    padding: 30px;
    position: relative;
    margin-bottom: 100px;
    border-radius: 50px;
    background-color: #a9bcd0;
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 35px;
    left: 46px;
    background-color: #58a4b0;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}
.body {
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 46px;
    background-color: #58a4b0;
    width: 80%;
    height: 55%;
    border-radius: 10px;
    padding: 10px;
}
.footer {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 35px;
    left: 46px;
    background-color: #58a4b0;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

/* Create post Form */

.createPostPage {
    font-family: "Lato", sans-serif;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    padding: 20px;
    border: 5px solid #58a4b0;
    background-color: #a9bcd0;
    border-radius: 10px;
}

.formContainer #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.formContainer button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: #67d7e9;
    border-radius: 5px;
    color: white;
}

.formContainer button:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: #58a4b0;
}

span {
    color: red;
}
